# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Algorithms/Debug
/Algorithms/x64/Release
/Algorithms/Algorithms.sln
/Algorithms/Algorithms/x64/Release
/Algorithms/Algorithms/Debug
/.vs
/Algorithms/.vs/Algorithms/v16
/Algorithms/Algorithms/Algorithms.vcxproj
/Algorithms/Algorithms/Algorithms.vcxproj.filters
/Algorithms/Algorithms/Algorithms.vcxproj.user
/Algorithms/x64/Debug
/Algorithms/Algorithms/x64/Debug/Algorithms.tlog
/Algorithms/Algorithms/x64/Debug
